* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.25;
  }
   
  #page-wrap {
    position: absolute;
  }
  
  header {
  background-color: rgb(201, 213, 248);
    position: fixed;
    padding: 0px 20px;
    top: 0;
    min-height: 80px;
    width: 100%;
    display: flex;
  justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    z-index: 1;
  }
  
  .logo {
    width: 60vw;
  }
  
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
  }
  
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
  }
  
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
  #About {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #About > iframe {
    max-width: 600px;
    width: 100%;
    height: 375;
  }
  
  .feature-grid {
    display: flex;
  }
  
  #Features {
    margin-top: 40px;
  }
  
  #Features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: rgb(169, 132, 207);
  }
  
  #Features .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    width: 65vw;
    padding: 5px;
  }
  
  #Products {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    width: calc(100 / 3);
    border: 1px solid black;
    margin: 10px;
    max-width: 300px;
    text-align: center;
    align-items: center;
  }
  
  .product > .title {
    font-weight: 555;
    margin: 0;
    padding: 12px 0;
    background-color: rgba(201, 213, 248, 25%);
    width: 100%;
  }
  
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  div h2 {
    margin-top: 5px;
  }
  
  div li {
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  
  .select {
    margin: 20px;
    padding: 5px 10px;
    font-size: 1.05rem;
    cursor: pointer;
    background-color: rgb(224, 201, 248);
    border: none;
    box-shadow: 1px 1px 5px gray;
    border-radius: 8px;
  }
  
  #sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-top: 60px;
  }
  
  #sign-up h2 {
    margin-bottom: 5px;
    word-wrap: break-word;
  }
  
  #sign-up input[type="email"] {
    max-width: 250px;
    width: 100%;
    padding: 5px;
  }
  
  #sign-up input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: 0.25px solid gray;
    background-color: rgb(224, 201, 248);
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  #sign-up input[type="submit"]:hover {
    background-color: rgb(169, 132, 207);
    transition: background-color 1s;
  }
  
  footer {
    margin-top: 30px;
    background-color: rgba(201, 213, 248, 25%);
    padding: 20px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 0 10px;
  }
  
  footer > span {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    color: gray;
    margin-top: 5px;
  }
  
  @media (max-width: 700px) {
    #Products {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
  
  @media (max-width: 600px) {
      header {
        flex-wrap: wrap;
      }
      .logo {
        margin-top: 15px;
        position: relative;
        width: 100%;
      }
      .logo img {
        width: 100%;
        height: 100%;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 20px;
      }
      nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
      }
      nav > ul  {
        flex-direction: column;
      }
      nav li {
        padding-bottom: 5px;
      }
      #Features .icon {
      display: none;
    }
      #sign-up {
        margin-top: 100px;
      }
  }
  
  @media only screen and (max-width: 500px) {
    header {
        flex-wrap: wrap;
      }
    #Features .description {
      text-align: center;
      height: 140px;
      width: 100%;
      padding: 5px;
    }
  }